# Data Science tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
 - List popular languages for data science
  - List the commonly used libraries used by data scientists
   - Create a table for the data science tools

Some of the popular languages that data scientists use are:
1. Python
2. R
3. Java

Some of the commonly used libraries by data scientists are:
1. Numpy
2. Scipy
3. Pandas

|Data Science Tools|
|------------------|
|Tableau|
|Apache Spark|
|SAS|
|KNIME|

Below are a few examples of evaluating arithmetic expressions in Python.
(20/2)
(10+10)
(30-20)
(20-5)*8

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Brian Njau Nganga